<head>
    <script src="js/admin/commerceManager.js"></script>
    <script>
        $(document).ready(function() {
            CommerceManager.init();
        });
    </script>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/commerce.css" />
</head>

<div class="grid-container">
    {{#commerceItems}}
        <div class="commerce-item-container" id="click_to_show">
            <div class="commerce-item-image"><img class="image image-commerce" src="images/commerceimages/{{coverImage}}" alt="resized image"></div>
            <div class="commerce-item-title">{{name}}</div>
            <div class="commerce-item-description">{{description}}</div>
            <div class="commerce-item-price">{{price}}$</div>
        </div>
    {{/commerceItems}}
</div>