<head>
    <script src="js/admin/commerceManager.js"></script>

    <script>
        $(document).ready(function () {
            CommerceManager.showSlides();
        });
    </script>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/commerce.css"/>
    <link rel="stylesheet" href="css/carousel-slideshow.css"/>
</head>
<div class="slideshow-container">
    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="images/fulls/08.jpg" style="width:100%">
        <div class="text">Caption Text</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="images/fulls/06.jpg" style="width:100%">
        <div class="text">Caption Two</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="images/fulls/07.jpg" style="width:100%">
        <div class="text">Caption Three</div>
    </div>
    <a class="prev" onclick="CommerceManager.plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="CommerceManager.plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="CommerceManager.currentSlide(1)"></span>
    <span class="dot" onclick="CommerceManager.currentSlide(2)"></span>
    <span class="dot" onclick="CommerceManager.currentSlide(3)"></span>
</div>