<div class="column">
	<h3>Add new Customer</h3>
	<form id="add-customer-form">

		<div class="field half">
			<div class="field half first">
				<label for="firstName">First Name</label> <input required
					name="firstName" id="firstName" type="text"
					placeholder="Mario">
			</div>
			<div class="field half">
				<label for="lastName">Last Name</label> <input required
					name="lastName" id="lastName" type="text" placeholder="Rossi">
			</div>
		</div>

		<div class="field half">
			<div class="field half first">
				<label for="email">E-Mail</label> <input
					name="email" id="email" type="email"
					placeholder="example@gmail.com">
			</div>
			<div class="field half">
				<label for="telephone">Telephone</label> <input required
					name="telephone" id="telephone" type="tel" placeholder="34625...">
			</div>
		</div>

		<button id="add-new-customer">Add customer</button>
	</form>
</div>