<div>
	<table id="customer-table" class="display" style="width: 100%">
		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>E-Mail</th>
				<th>Telephone</th>
				<th id="delete-customer">Delete</th>
				<th id="edit-customer">Edit</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>