<div class="column">
	<h3>Edit Customer</h3>
	<form id="edit-customer-form">

		<div class="field half">
			<div class="field half first">
				<label for="firstName">First Name</label> <input required
					name="firstName" id="editFirstName" type="text" placeholder="Mario">
			</div>
			<div class="field half">
				<label for="lastName">Last Name</label> <input required
					name="lastName" id="editLastName" type="text" placeholder="Rossi">
			</div>
		</div>

		<div class="field half">
			<div class="field half first">
				<label for="email">E-Mail</label> <input name="email" id="editEmail"
					type="email" placeholder="example@gmail.com">
			</div>
			<div class="field half">
				<label for="telephone">Telephone</label> <input required
					name="telephone" id="editTelephone" type="tel"
					placeholder="34625...">
			</div>
		</div>

		<button id="editModalButton">Confirm</button>
		<button id="cancelEditModalButton">Cancel</button>
	</form>
</div>