<head>
<script src="js/admin/homeManager.js"></script>
<script>
	$(document).ready(function() {
		HomeManager.init();
	});
</script>
</head>

<div>
	<span class="image left special"><i class="fa fa-credit-card"
		aria-hidden="true"></i></span>
	<h3>Handle Job</h3>
	<p>
		Follow the link to handle the job. You can add, remove or edit a Job.
		<a id="jobHomeLink" href="#"> JOB </a>
	</p>

	<section class="columns double">
		<div class="column">
			<span class="image left special"><i class="fa fa-user"
				aria-hidden="true"></i></span>
			<h3>Handle Customer</h3>
			<p>
				Follow the link to handle the job. You can add, remove or edit a<a
					id="customerHomeLink" href="#"> customer. </a>
			</p>

		</div>
		<div class="column">
			<span class="image left special"><i class="fa fa-wrench"
				aria-hidden="true"></i></span>
			<h3>Handle Product</h3>
			<p>
				Follow the link to handle the job. You can add, remove or edit a <a
					id="productHomeLink" href="#"> product.</a>
			</p>
		</div>
	</section>
</div>