<head>
<script src="js/admin/jobManager.js"></script>
<script>
	$(document).ready(function() {
		JobManager.init("#job-table");
	});
</script>

</head>

<div>
	<table id="job-table" class="display" style="width: 100%">
		<thead>
			<tr>
				<th>ID</th>
				<th>Customer</th>
				<th>Product</th>
				<th>Description</th>
				<th>Start Date</th>
				<th>Pick Up Date</th>
				<th>Completing</th>
				<th>Price</th>
				<th id="delete-job">Delete</th>
				<th id="edit-job">Edit</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>