<div class="column">
	<h3>Add new Job</h3>
	<form id="add-job-form">
		<div class="field half first">
			<select required id="editCustomer"> {{#customers}}
				<option value={{id}}>{{firstName}} {{lastName}}</option>
				{{/customers}}
			</select>
		</div>

		<div class="field half">
			<div class="field half first">
				<label for="startDate">Start Date</label> <input name="startDate"
					id="editStartDate" type="date" placeholder="startDate">
			</div>
			<div class="field half">
				<label for="Pick Up Date">Pick Up Date</label> <input required
					name="pickUpDate" id="editPickUpDate" type="date"
					placeholder="pickUpDate">
			</div>
		</div>

		<div class="field">
			<div class="field half first">
				<select required id="editProduct"> {{#products}}
					<option value={{id}}>{{name}}</option> {{/products}}
			</div>

			<div class="field half">
				<label for="Price">Price</label> <input required name="Price"
					id="editPrice" type="text" placeholder="10.00">
			</div>
		</div>

		<div class="field">
			<label for="Description">Description</label>
			<textarea name="description" id="editDescription" rows="6"
				placeholder="Enter Request Description"></textarea>
		</div>
		<button id="edit-job">Edit Job</button>
		<button id="cancelEditModalButton">Cancel</button>
	</form>
</div>