<head>
<script src="js/admin/navManager.js"></script>
<script>
	$(document).ready(function() {
		NavManager.init();
	});
</script>
</head>

<ul>
	<li><a id="homeLink" href="#"><span
			class="icon fa-home"></span></a></li>
	<li><a id="jobLink" href="#"><span
			class="icon fa-credit-card"></span></a></li>
	<li><a id="productLink" href="#"><span
			class="icon fa-wrench"></span></a></li>
	<li><a id="customerLink" href="#"><span
			class="icon fa-user"></span></a></li>
    <li><a id="commerceLink" href="#"><span
            class="icon fa-user"></span></a></li>
</ul>