<div class="column">
	<h3>Edit Product</h3>
	<form id="edit-products-form">

		<div class="field">
			<label for="name">Name</label> <input name="name" id="editName"
				type="text" placeholder="anello">
		</div>
		<button id="edit-product">Edit Product</button>
		<button id="cancelEditModalButton">Cancel</button>
	</form>
</div>