<head>
<script src="js/admin/productManager.js"></script>
<script>
	$(document).ready(function() {
		ProductManager.init("#product-table");
	});
</script>

</head>

<div>
	<table id="product-table" class="display" style="width: 100%">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th id="delete-product">Delete</th>
				<th id="edit-product">Edit</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>