<div class="column">
	<h3>Add new Product</h3>
	<form id="add-products-form">

		<div class="field">
			<label for="name">Name</label> <input name="name" id="name"
				type="text" placeholder="anello">
		</div>
		<button id="add-new-product">Add Product</button>
	</form>
</div>