.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    grid-gap: 50px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


.commerce-item-container {
    display: grid;
    grid-template-areas: 'image' 'title' 'description' 'price';
    text-align: center;
}

.commerce-item-image {
    grid-area: image;
}

.commerce-item-title {
    font-size: large;
}

.commerce-item-description {
    font-size: medium;
}

.commerce-item-price {
    font-size: small;
}

.image-commerce{
    width: 250px;
    height: 250px;
}

