.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 35px;
	border: 1px solid #888;
	width: 30%;
}
.modal-content-edit-job {
	background-color: #fefefe;
	margin: auto;
	padding: 35px;
	border: 1px solid #888;
	width: 60%;
}
.modal-content-edit-customer {
	background-color: #fefefe;
	margin: auto;
	padding: 35px;
	border: 1px solid #888;
	width: 50%;
}