<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="css/main.css" />
<link rel="stylesheet" href="css/modal.css" />


<script src="js/jquery.min.js"></script>
<script src="js/jquery.poptrox.min.js"></script>
<script src="js/jquery.scrolly.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/util.js"></script>
<script src="js/main.js"></script>
<script src="js/main.js"></script>

<link rel="stylesheet" href="js/datatable/datatables.css" />
<script src="js/datatable/datatables.js"></script>

<title>Home Page</title>
</head>
<body>
	<div class="page-wrap">
		<!-- Nav -->
		<nav id="nav">{{>layout/navBar}}</nav>

		<!-- Main -->
		<section id="main">

			<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Commerce Service</h1>
					<p>Take your favorite product and buy it!</p>
					<ul class="actions">
						<li><a href="#commerce-grid" class="button alt scrolly big">Continue</a></li>
					</ul>
				</div>
			</section>

			<div class="inner">

                <div id="showModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content-show">
                        {{>layout/commerceItemModal}}
                    </div>
                </div>

                <!-- Content -->

                <section id="commerce-grid">{{>layout/commerceLayout}}</section>
			</div>
		</section>
	</div>


</body>
</html>